@namespace Eternet.Web.UI

<FluentGrid Spacing="0" Justify="JustifyContent.Center" style="margin:10px; height: 35vh; align-items: center; ">
    <FluentGridItem xs="3">
        <FluentProgressRing Width="96px"></FluentProgressRing>
        <h4>Cargando...</h4>
    </FluentGridItem>
</FluentGrid>