@namespace Eternet.Web.UI
@using Microsoft.FluentUI.AspNetCore.Components // Required for Fluent Components

<div>
    <FluentLabel Typo="Typography.Subject">@Label</FluentLabel>
    <FluentDatePicker @bind-Value="@CurrentValue" Style="width: 100%;" />
</div>